<h1>Modificar reserva</h1>
<p>{{reserva.nomeHospede}}</p>
<form class="modificar-reserva-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field id="tipoquarto-field" class="modificar-reserva-field" appearance="outline">
        <mat-label>Selecionar quarto</mat-label>
        <mat-select formControlName="quarto" [(value)]="quartoSelecionado"
            (selectionChange)="quartoChanged($event.value)">
            <mat-option *ngFor="let quarto of quartos" [value]=quarto>
                {{quarto.numero}} |
                {{quarto.tipoQuarto}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="atualizaPrecoReserva">
        <h3>Diferença de preço da reserva: R$ {{(quantidadeDias) * diferenca}}</h3>
    </ng-container>
    <br>
    <div class="datas-container">
        <mat-form-field id="dataentrada-field" class="modificar-reserva-field">
            <mat-label>Data de entrada</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataEntrada">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field id="datasaida-field" class="modificar-reserva-field">
            <mat-label>Data de saida</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dataSaida">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <a id="enviar-form" class="enviar-form" href=""><button mat-raised-button color="accent"
            class="button-modificar-reserva">Salvar</button></a>
</form>