<mat-toolbar color="secondary">
    <span class="button-home" routerLink="/home">Sistema de Reservas</span>
    <span class="fill"></span>

    <button mat-button routerLinkActive="mat-accent" [matMenuTriggerFor]="menuHospedes">Hóspedes</button>
    <mat-menu #menuHospedes="matMenu">
      <button mat-menu-item routerLink="/cadastrar-hospede">Cadastrar hóspede</button>
      <button mat-menu-item routerLink="/listar-hospedes">Listar hóspedes</button>
    </mat-menu>

    <button mat-button routerLinkActive="mat-accent" [matMenuTriggerFor]="menuQuartos">Quartos</button>
    <mat-menu #menuQuartos="matMenu">
      <button mat-menu-item routerLink="/cadastrar-quarto">Cadastrar quarto</button>
      <button mat-menu-item routerLink="/listar-quartos">Listar quartos</button>
    </mat-menu>

    <button mat-button routerLink="/crud-reservas">Reservas</button>
</mat-toolbar>
