<mat-toolbar color="secondary">
    <span class="button-home" routerLink="/home">Sistema de Reservas</span>
    <span class="fill"></span>

    <button mat-button routerLinkActive="mat-accent" [matMenuTriggerFor]="menuHospedes">Hóspedes</button>
    <mat-menu #menuHospedes="matMenu">
      <button mat-menu-item routerLink="/cadastrar-hospede">Cadastrar hóspede</button>
      <button mat-menu-item routerLink="/listar-hospedes">Listar hóspedes</button>
    </mat-menu>

    <button mat-button routerLinkActive="mat-accent" [matMenuTriggerFor]="menuQuartos">Quartos</button>
    <mat-menu #menuQuartos="matMenu">
      <button mat-menu-item routerLink="/cadastrar-quarto">Cadastrar quarto</button>
      <button mat-menu-item routerLink="/listar-quartos">Listar quartos</button>
    </mat-menu>
    
    <button mat-button routerLinkActive="mat-accent" [matMenuTriggerFor]="menuReservas">Reservas</button>
    <mat-menu #menuReservas="matMenu">
      <button mat-menu-item routerLink="/efetuar-reserva">Efetuar reserva</button>
      <button mat-menu-item routerLink="/modificar-reserva">Modificar reserva</button>
      <button mat-menu-item routerLink="/cancelar-reserva">Cancelar reserva</button>
    </mat-menu>

    <button mat-button routerLink="/crud-reservas">Reservas teste</button>
    <mat-menu>
      
    </mat-menu>

</mat-toolbar>
