<div class="container">
    <div class="container-conteudo">
        <h1>Efetuar reserva</h1>
    </div>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome completo</mat-label>
          <input matInput placeholder="Nome completo">
        </mat-form-field>

    </form>

</div>
<router-outlet></router-outlet>

<!-- 
Dados necessarios
    nome completo
    telefone
    email
    cpf
    tipo do quarto
-------------------
Validacao
    verifica a disponibilidade dentro do periodo solicitado
-->