.container {
    padding: 20px 16px;
}

h1 {
    font-weight: 500;
}

table.mat-table {
    width: 60%;
}

mat-icon {
    cursor: pointer;
    transition: 0.4s;
}

.icon-edit:hover {
    color: #69f0ae;
}

.icon-delete:hover {
    color: #f44336;
}

.icon-visibility:hover {
    color: lightskyblue;
}