.container {
    padding: 20px 16px;
}

h1 {
    font-weight: 500;
}

.efetuar-reserva-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

.efetuar-reserva-field {
    width: 250px;
}

.efetuar-reserva-form-field {
    width: 100%;
}

.datas-container {
    display: flex;
    justify-content: space-between;
    width: 520px;
}
